a {
    color: #9d080d;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.p-artical {
    padding: 8px !important;
    font-size: 14px !important;
    line-height: 22px;
}
.bg-gray{
    background: #f1f1f1;
}
.art_con{
    padding: 40px 0px;
}
.pb-10{
    padding-bottom: 10px;
}
.mb-10{
    margin-bottom: 10px !important;
}
.mb-20{
    margin-bottom: 20px !important;
}


*{margin:0;padding:0;text-decoration:none}
header{position:relative;width:100%;}
.logo{position:relative;z-index:123;padding:10px;font:18px verdana;color:#9d080d;float:left;width:15%}
.logo a{color:#9d080d;}
nav{position:relative;width:980px;margin:0 auto;}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#cssmenu:after,#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#cssmenu #head-mobile{display:none}
#cssmenu{font-family:sans-serif;background:#333}
#cssmenu > ul > li{float:left}
#cssmenu > ul > li > a{padding:17px;font-size:12px;letter-spacing:1px;text-decoration:none;color:#ddd;font-weight:700;}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a{color:#fff}
#cssmenu > ul > li:hover,#cssmenu ul li.active:hover,#cssmenu ul li.active,#cssmenu ul li.has-sub.active:hover{background:#9d080d!important;-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
#cssmenu > ul > li.has-sub > a{padding-right:30px}
#cssmenu > ul > li.has-sub > a:after{position:absolute;top:22px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu > ul > li.has-sub > a:before{position:absolute;top:19px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu > ul > li.has-sub:hover > a:before{top:23px;height:0}
#cssmenu ul ul{position:absolute;left:-9999px}
#cssmenu ul ul li{min-width:300px;height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;background:#333;transition:all .25s ease}
#cssmenu ul ul li:hover{}
#cssmenu li:hover > ul{left:auto}
#cssmenu li:hover > ul > li{height:35px}
#cssmenu ul ul ul{margin-left:100%;top:0}
#cssmenu ul ul li a{border-bottom:1px solid rgba(150,150,150,0.15);padding:11px 15px;width:100%;font-size:12px;text-decoration:none;color:#ddd;font-weight:400;}
#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a{border-bottom:0}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover{color:#fff}
#cssmenu ul ul li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{background:#363636;}
#cssmenu ul ul ul li.active a{border-left:1px solid #333}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #333}

@media screen and (max-width:1000px){
.d-none-i-10000{
    display: none !important;
}
.d-i-b{
    display: inline-block !important;
}
.logo{position:absolute;top:0;left: 0;width:100%;height:46px;margin-left: 13px;padding:10px 0 0 0 ;float:none}
.logo2{display:none}
nav{width:100%;}
#cssmenu{width:60px;overflow: hidden;}
#cssmenu ul{width:100%;display:none}
#cssmenu ul li{width:100%;border-top:1px solid #444}
#cssmenu ul li:hover{background:#363636;}
#cssmenu ul ul li,#cssmenu li:hover > ul > li{height:auto}
#cssmenu ul li a,#cssmenu ul ul li a{width:100%;border-bottom:0}
#cssmenu > ul > li{float:none}
#cssmenu ul ul li a{padding-left:25px}
#cssmenu ul ul li{background:#333!important;}
#cssmenu ul ul li:hover{background:#363636!important}
#cssmenu ul ul ul li a{padding-left:35px}
#cssmenu ul ul li a{color:#ddd;background:none}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li.active > a{color:#fff}
#cssmenu ul ul,#cssmenu ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}
#cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before{display:none}
#cssmenu #head-mobile{display:block;padding:23px;color:#ddd;font-size:12px;font-weight:700}
.button{width:60px;height:46px;position:absolute;top:0;cursor:pointer;z-index: 12399994;}
.button:after{position:absolute;top:22px;right:20px;display:block;height:8px;width:20px;border-top:2px solid #dddddd;border-bottom:2px solid #dddddd;content:''}
.button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:2px;width:20px;background:#ddd;content:''}
.button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.button.menu-opened:before{top:23px;background:#fff;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
#cssmenu .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;border-left:1px solid #444;height:46px;width:46px;cursor:pointer}
#cssmenu .submenu-button.submenu-opened{background:#262626}
#cssmenu ul ul .submenu-button{height:34px;width:34px}
#cssmenu .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul .submenu-button:after{top:15px;right:13px}
#cssmenu .submenu-button.submenu-opened:after{background:#fff}
#cssmenu .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px;background:#ddd;content:''}
#cssmenu ul ul .submenu-button:before{top:12px;right:16px}
#cssmenu .submenu-button.submenu-opened:before{display:none}
#cssmenu ul ul ul li.active a{border-left:none}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
}
#cssmenu li:hover > ul { left: auto;z-index: 99999;}
.p-relative-nav{
    position: relative;
    transform: translate(3px, 30px);
    z-index: 999999;
    line-height: 2 !important;
    height: 64px;
    padding-top: 8px;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
.related-top{
    margin-top: 20px;
}
.header1 {
    padding: 20px 0 0px 0;
}
.feature_buttons li .fa {
    font-size: 36px;
    color: #9d080d;
}
ul.feature_buttons {
    float: right;
    margin-top: 8px;
}
.feature_buttons li {
    list-style-type: none;
    display: inline-block;
    margin-left: 8px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.contact-btn .btn1, .mod_lite a.btn, .main-contents button.btn, .main-contents a.btn, .btn-default1, .bottom-banner a.btn {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: #fff;
    border: 2px solid #9d080d;
    background-color: #9d080d;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-right: 10px;
    text-decoration: none;
    padding: 6px 10px !important;
    font-weight: 300;
}

.contact-btn .btn1 {
    text-transform: capitalize !important;
    font-weight: 700 !important;
    margin: -30px 0 0 0 !important;
    padding: 7px !important;
}

#mobile-menu-logo .container-fluid {
    padding: 15px 10px;
    position: fixed;
    z-index: 100;
    background: transparent url(../images/wbg.png) repeat-x;
    border-top: 2px solid #9d080d;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#mobile-menu-logo .fa-bars {
    font-size: 36px;
    margin-top: 8px;
    color: #000;
}
.mobi_call_btn {
    background-color: #ff9600;
    color: #fff !important;
    padding: 5px 17px;
    display: block;
    text-align: center !important;
    float: right;
    line-height: 20px;
}
.mobi_call_btn:hover,.mobi_call_btn:focus,.mobi_call_btn:active{
  color:#000 !important;
}
.mobi_logo img{
  margin-top: 20px;
}
.mobi_header{
  margin-top:75px;
}
#mobile-menu-logo .fa-bars{
  font-size: 36px;
  margin-top: 8px;
  color:#000;
}

#mobile-menu-logo .container-fluid{
  padding:15px 10px;
  position: fixed;
  z-index:100;
  background: transparent url('../images/wbg.png') repeat-x;
  border-top: 2px solid #9d080d;
}

p#logo {
    text-align: center;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.feature_buttons li strong {
    font-size: 20px;
}
b, strong {
    font-weight: bolder;
}
.d-none-i{
    display: none !important;
}
.w-100{
    width: 100% !important;
}
.button{
    left: 0 !important;
}
.carousel-caption {
    top: 20%;
    bottom: auto;
}
.bn_title_span {
    border-bottom: #9d080d 5px solid;
    width: 452px;
    margin: auto;
    padding-bottom: 8px;
    margin-bottom: 8px;
    text-shadow: 1px 1px 1px #333;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;
    color: #fff;
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 25px;
    padding-bottom: 12px;
}

.bn_desc-span {
    background-color: rgba(0,0,0,0.7);
    width: 450px;
    margin: auto;
    padding: 10px;
    margin-bottom: 8px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 52px;
}

.carousel-item-img{
    background-color: #000;
}
.top-banner .bn_btn {
    text-align: center;
    margin: 30px auto 0 auto;
}

.btn {
    font-family: 'Roboto Slab', serif !important;
    text-align: center;
    color: #fff;
    border: 2px solid #9d080d;
    background-color: #9d080d;
    border-radius: 25px !important;
    text-transform: uppercase !important;
    margin-bottom: 10px;
    margin-right: 10px;
    text-decoration: none;
    padding: 10px !important;
    font-weight: 700;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem !important;
    line-height: 1.5;
    font-weight: 700;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.btn:hover, .top-banner .btn:focus, .top-banner .btn:active {
    border: 2px solid #9d080d !important;
    background-color: #fff !important;
    color: #9d080d !important;
}
.fs-19{
font-size: 38px;
}
.articals-title:hover{
    color: #000000;
    text-decoration: none;
}
.card-h6 {
    padding: 8px !important;
    font-size: 13px !important;
    line-height: 17px;
}
.collapse-header {
    font-weight: 700;
    display: block;
    width: 100%;
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    text-align: left;
    background: none;
}
.accord-card {
    margin-bottom: 19px;
    border: 0 none;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.accordaccord-card .card-header {
    padding: 0;
    margin-bottom: 11px;
    background-color: #fff;
    border-bottom: 0 none;
}

.card-header{
    background: #ffffff;
}
.bottom_form {
    background-color: #fff;
    padding: 9px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}







.immigration_problem{
    background: #ff304d;
    padding: 20px 0;
    text-align: center;
}

.immigration-title {
    position: relative;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 4px;
}
.lighter{
    font-weight: lighter;
}
.footer-main{
    background: #F1F1F1 url('../img/map.png');
    padding-top: 20px;
    padding-bottom: 25px;
    color: #000;
    border-top: 5px solid #ff304d;
}
.footer{
	padding: 60px 0;
    width: 100%;
    /* background: #3B008D;
    background: url('../img/map.png'); */
    color: #fff;
   
}
.footer-title {
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.footer-title:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 120px;
    margin-bottom: -8px;
    height: 3px;
    background: #ff304d;
}
.articals-title {
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.articals-title:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 120px;
    margin-bottom: -8px;
    height: 3px;
    background: #9d080d;
}
.footer-links a {
    padding: 10px 0;
    border-bottom: 1px solid #75749a;
    color: #000000;
    display: block;
    transition: color 0.5s ease-in-out;
    text-decoration: none;
    font-size: 12px;
    width: 84%;
    font-weight: 500;
}
.footer-links a:hover{
	color: #ff304d;
}
.fs-16{
    padding: 12px 0 !important;
    font-size: 13px !important;
}
.footer-social-links li{
	display: inline-block;
}
.footer-social-links a{
	width: 40px;
	height: 40px;
	font-size: 16px;
	float: left;
	margin-right: 10px;
	padding: 10px;
	border: 1px solid #ffffff;
	border-radius: 50px;
	text-align: center;
	color: #fff;
	line-height: 1;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
  background:#3B008D;
}
.footer-social-links a:hover{
	background: #ff304d;
}

.dark-text{
    color: #000000!important;
    font-weight: 500;
}

.bottom-bar {
    padding: 15px 0;
    border-top: 1px solid #797878;
    font-size: 12px;
    background: white;
}
.logos img {
    height: 66px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.footer-right {
    text-align: right;
}
.footer-right a{
    color: #ff304d;
}
.btn-1:hover{
    border: 2px solid #9d080d !important;
    background-color: #fff !important;
    color: #9d080d !important;
}
.card-links a {
    padding: 7px 0 7px 0;
    border-bottom: 1px solid #75749a;
    color: #000000;
    display: block;
    transition: color 0.5s ease-in-out;
    text-decoration: none;
    font-size: 12px;
    width: 100%;
    font-weight: 500;
}

.card-links a:hover{
    color: #9d080d;
}
.card-link+.card-link {
    margin-left: 0rem;
}
.color-m{
    color: #9d080d;
}
.mt-8-fs-10{
    margin-top: 16px;
    font-size: 11px !important;
    border-radius: 3px !important;
    /* padding: 3px  0 0 0 !important; */
    letter-spacing: 1px;
}
.mt-20{
    margin-top: 20px !important;
}





@media screen and (max-width : 1200px) {
    .d-xl-none {
        display: none!important;
    }
    .feature_buttons li {
        margin-left: 3px!important;
    }
    .d-xl-none {
        display: none!important;
    }
    .col-md-12 {
        justify-content: center;
        vertical-align: middle;
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .d-lg-none {
        display: none!important;
    }

}
@media screen and (max-width: 768px) {
    .d-md-block {
        display: block!important;
    }
    
}
@media screen and (max-width: 576px) {
    .d-sm-block {
        display: block!important;
    }
    .carousel-item-img{
        min-height: 250px  !important;
        max-height: 250px !important;
    }
    .bn_title_span{
        width: 100%;
        font-size: 20px;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    .bn_desc-span{
        width: 100%;
        font-size: 11px;
        padding: 2px 0px;
        line-height: 33px;
    }
    .btn{
        font-size: 12px !important;
    }
    .fs-19{
        font-size: 19px;
    }
    .carousel-caption {
        top: 10%;
        bottom: auto;
    }
}

@media screen and (max-width: 375px) {
    .carousel-item-img{
        min-height: 200px  !important;
        max-height: 200px !important;
    }
    .fs-19{
        font-size: 14px;
    }
    .bn_desc-span{
        font-size: 10px;
        line-height: 32px;
    }
    .btn{
        font-size: 8px !important;
    }
    .bn_title_span{
        font-size: 18px;
    }
    .immigration-title{
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .btn{
        font-size: 6px !important;
    }
    .fs-19{
        font-size: 12px;
    }
    .bn_title_span{
        font-size: 16px;
    }
    .footer-title {
        text-align: left;
        font-size: 21px;
        margin-top: 5px;
        margin-bottom: 20px;
    }

}

.mt-8-fs-10:hover{
    color: #9d080d !important;
}